<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Hello</title>
     </head>
     <body>
          <!-- 주석처리 -->
          <!-- h1태그에 빨간색 글꼴색을 적용함-->
          <h1 style="color: red">Hello World!</h1>
          <h2>Hello World!</h2>
          <h3>Hello World!</h3>
          <h4>Hello World!</h4>
          <h5>Hello World!</h5>
          <h6>Hello World!</h6>

          <p>안녕하세요. 반갑습니다.안녕하세요. 반갑습니다.안녕하세요. 반갑습니다.안녕하세요. 반갑습니다.안녕하세요. 반갑습니다.안녕하세요. 반갑습니다.</p>
          <p>안녕히 가세요. 즐거웠습니다.</p>

          <a href="https://www.naver.com">NAVER</a>
          <br />
          <hr>
          <img src="https://namu.wiki/jump/7caZ078i2ihWOvGOerBd5l0rQxn%2FT7IQ9PVjPq6%2BHBy3JRUOdERyLA%2Fc1Vm8DG5n">
          <img alt="이모티콘" src="../../asset/image/kap.PNG">
     </body>
</html>