<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <span>Text Input</span>
     <input type="text">
     <br>
     <span>Password Input</span>
     <input type="password">
     <br>
     <span>CheckBox Input</span>
     <input name="chcek" type="checkbox"> <!-- 동시에 체크 가능 -->
     <input name="chcek" type="checkbox">
     <br>
     <span>Radio Input</span>
     <input name="radio" type="radio"> <!-- 같은 name으로 그룹을 이루어줘야 하나만 체크 -->
     <input name="radio" type="radio">
     <br>
     <span>Date Input</span>
     <input type="date">
     <br>
     <span>DateTime Input</span>
     <input type="datetime-local">
     <br>
     <span>Button</span>
     <button>버튼</button>
</body>
</html>